body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    line-height: 1.2em;
    margin: 0;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-size: 28px; 
    color: #d73b63 ;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: normal;
    color: #e8d18e;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #e8d18e;
    line-height: 1.2em;
}

p {
    max-width: 800px;   
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #3bb1d7;
    text-decoration: none;
    font-weight: none;
}

a:hover {
    color: #e8d18e;
    text-decoration:underline;

}

a:active {
    color: #d73b63;
}

a:visited {
    color: #e8bb8e;
}

blockquote {
    display: block;
    background: #f9f9f9;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    padding:40px;
    line-height: 1.2em;
    font-size: 26px;
    font-style: italic;
    font-family: 'EB Garamond', serif;
}

img, video, audio, iframe {
    max-height: 200px;   
}

#main_container {
    margin: 40px auto;
    width: 800px;
    max-width: 90%;
}

.item_container {
    margin-top: 40px;
    margin-bottom: 40px;
}

table {
  border-collapse: collapse;
  border-top: .1rem dashed #ddd;
  margin-bottom: var(--line-height);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
}

table td,
table th {
  padding: calc(var(--line-height) / 4) .6rem;
}

table td:first-child,
table th:first-child {
  padding-left: 0;
}

table td:last-child,
table th:last-child {
  padding-right: 0;
}

table th {
  font-weight: normal;
  text-align: left;
}

table tbody tr:first-child {
  border-top: .1rem dashed #ddd;
}

table tbody tr:last-child {
  border-bottom: .1rem dashed #ddd;
}

